# dependencies
node_modules/

# production build
build/

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# testing
coverage/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace

# optional cache folders
.cache/
.next/
out/

# others
*.log
*.tgz

# Mac system files
Thumbs.db
